<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" data-bs-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Account</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<!--        <link href="/css/custom.css" rel="stylesheet">-->
    </head>
    <body>
        <div id="wrapper">
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg border-bottom">
                    <div class="container-fluid">
                        <div><img class="navbar-brand ms-auto" alt="logo" height="60" src="../static/assets/ovo_logo.png"></div>
                            <ul class="navbar-nav mt-2 mt-lg-0">
                                <li class="nav-item dropdown me-auto ">
                                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="https://img.freepik.com/free-vector/cute-cat-gaming-cartoon_138676-2969.jpg" alt="hugenerd" width="30" height="30" class="rounded-circle">
                                        <span class="mx-1" th:text="${player.username}"></span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">My stats</a>
                                        <a class="dropdown-item" href="@{/account}">Account</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" th:href="@{/logout}">Log out</a>
                                    </div>
                                </li>
                            </ul>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-md">
                    <h3 class="mt-4">Your details</h3><br><br>
                    <p class="justify-content-center">Username: <span th:text="${player.username}"></span>
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#usernameModal">
                        Edit
                        </button>
                    </p>

                    <p class="justify-content-center">E-mail: <span th:text="${player.email}"></span>
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#emailModal">
                            Edit
                        </button>
                    </p>
                    <p class="justify-content-center">Date joined: <span th:text="${player.createdAt}"></span><br><br></p>
                    <div class="justify-content-center">
                        <button type="button" class= "btn btn-secondary" data-bs-toggle="modal" data-bs-target="#passwordModal">Change password</button><br><br>
                        <button type="button" class= "alert alert-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete my account</button>
                    </div>
                </div>
            </div>
        </div>

<!--modal to edit username-->
        <div class="modal fade" id="usernameModal" tabindex="-1" role="dialog" aria-labelledby="usernameModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit username</h5>
                    </div>
                    <div class="modal-body">
                        <form id="usernameForm">
                        <label for="changeusername">Type in new username</label><br>
                        <input id="changeusername" type="text"></form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" form="usernameForm" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

<!--        modal to edit email-->
        <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="emailModalLabel">Edit e-mail</h5>
                    </div>
                    <div class="modal-body">
                        <form id="emailForm">
                            <label for="changeemail">Type in new e-mail</label><br>
                            <input id="changeemail" type="email"></form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" form="emailForm" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

<!--        modal to change password-->

        <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="passwordModalLabel">Edit password</h5>
                    </div>
                    <div class="modal-body">
                        <form id="passwordForm" th:action="@{/update-password}" method="post">
                            <label for="currentPassword">Type in current password:</label><br>
                            <input id="currentPassword" name="currentPassword" type="password"><br>
                            <label for="newPassword">Type in new password:</label><br>
                            <input id="newPassword" name="newPassword" type="password"><br>
                            <label for="confirmNewPassword">Type in new password again:</label><br>
                            <input id="confirmNewPassword" name="confirmNewPassword" type="password"></form><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" form="passwordForm" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

<!--        modal to delete account-->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete account</h5>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete your account?   </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="alert alert-danger">Delete account</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../../../../../../Downloads/startbootstrap-simple-sidebar-gh-pages/startbootstrap-simple-sidebar-gh-pages/js/scripts.js"></script>
    </body>
</html>
