<!doctype html>
<html lang="en">
<head>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
    <link type="text/css" href="/css/style.css" rel="stylesheet">
    <!--    libs for stomp and sockjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!--    end libs for stomp and sockjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div class="text-center" id="box">
    <header>
        <h1>Play Tic Tac Toe</h1>
    </header>
<!--    <input id="login" placeholder="Place a login here">-->
    <h1>Welcome to the Game, [[${username}]]!</h1>
    <div id="username">
        [[${username}]]
    </div>
    <button onclick="create_game()">Create a new game</button>
    <button onclick="connectToRandom()">Connect to random game</button>
    <input id="game_id" placeholder="Enter Game ID">
    <button onclick="connectToSpecificGame()">Connect by game id</button>
    <a class="nav-link active" href="/dashboard">Return to lobby</a>
    <div id="message"></div>
    <ul id="gameBoard">
        <li class="tic" id="0_0"></li>
        <li class="tic" id="0_1"></li>
        <li class="tic" id="0_2"></li>
        <li class="tic" id="1_0"></li>
        <li class="tic" id="1_1"></li>
        <li class="tic" id="1_2"></li>
        <li class="tic" id="2_0"></li>
        <li class="tic" id="2_1"></li>
        <li class="tic" id="2_2"></li>
    </ul>
    <div class="clearfix"></div>
    <footer>
        <span>You are playing with <span id="oponentLogin"></span></span>
    </footer>
</div>
<script src="/js/script.js"></script>
<script src="/js/socket_js.js">
    const playerOne = /*[[${player}]]*/ {};
</script>
</body>
</html>
